#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #071426;
  text-align: center;
  color: #FAEBD7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

}





.card {
  padding: 2em;
}



.social-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-icons a {
  color: #FAEBD7;
  margin-right: 10px;
}

.social-icons a:hover {
  color: #f2c338;
}

.block {
  padding: 20px;
}

.navbar-parent {
  background-color: hsl(45, 60%, 57%);

}

.Navbar {
  background-color: hsl(45, 60%, 57%);
  display: inline-flex;
  justify-content: space-between;
  margin-top: 10px;
}

.navbar-nav {
  background-color: hsl(45, 60%, 57%);
}

.Navbar a:hover {
  color: #FAEBD7;
}

.nav-link {
  text-align: center;
}

.star {
  max-width: 45px;
  max-height: 45px;
}

.bagel-man {
  max-width: fit-content;
  max-height: fit-content;
}