#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #071426;
  text-align: center;
  color: #FAEBD7;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-icons a {
  color: #FAEBD7;
  margin-right: 10px;
}

.social-icons a:hover {
  color: #007bff;
}

.block {
  padding: 20px;
}

.nav-link {
  text-align: center;
}

.star {
  max-width: 45px;
  max-height: 45px;
}